<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <span class="fs-4">Sence</span>
      </a>

      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <span class="py-2 link-body-emphasis text-decoration-none"><%= link_to "Головна сторінка", home_path %></span>
        <span class="py-2 link-body-emphasis text-decoration-none"><%= link_to "Новий товар", new_item_path %></span>
        <span class="py-2 link-body-emphasis text-decoration-none"><%= link_to "Про нас", about_path %></span>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
